table {
	border: 1px solid black;
	margin: 0 auto;
}
.square {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	background-repeat: no-repeat;
	background-size: auto;
}
h1 {
	text-align: center;
}
button{
	margin: 0 auto;
	text-align: center;
	display: block;
}
.square:hover{
	background: url("http://i.imgur.com/lyzbm9Rs.jpg");
}