table {
	border: 1px solid black;
	margin: 0 auto;
}
.square {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: inline-block;
	font size: 50px;
}
h1 {
	text-align: center;
}
button{
	margin: 0 auto;
	text-align: center;
	display: block;
}
.square:hover{
	background: url("http://i.imgur.com/lyzbm9Rs.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
/*.squareclicked {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: inline-block;
}*/